
/* CUSTOM CSS */
.itemImg {
    border-radius: 5px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7);
    /* Ajustement des image via les média query */
}

.pageTool {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.pageItem {
    margin: 0 20px 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.pageItem div:nth-child(2) {
    background: #0ee60e;
}

.pageItem div:last-child {
    background: #ff6a00;
}


.pageItems div {
    margin: 10px 0 10px 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}





