@{
    ViewData["Title"] = "Accueil";
}

<h2>Gallerie d'image</h2>
<hr />
<div class="row">
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
    <div class="col-sm-2 pageItem">
        <img src="#" alt="Image ici" />
        <div>Nom de la plante</div>
        <div>Prix de la pante</div>
    </div>
   


</div>
